@import "../variables";

.pizza-block {
  width: 280px;
  text-align: center;
  margin-bottom: 65px;

  &-top {
    margin-left: 10px;
  }

  &-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    img {
      width: 60%;
    }
  }

  &-center {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 900px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 660px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &-side {
    margin: 20px;
    li {
      text-align: center;
    }
  }

  &__image {
    width: 260px;
  }

  &__title {
    font-size: 20px;
    font-weight: 900;
    letter-spacing: 1%;
    margin-bottom: 20px;
  }

  &__selector {
    display: flex;
    background-color: #f3f3f3;
    border-radius: 10px;
    flex-direction: column;
    padding: 6px;

    ul {
      display: flex;
      flex: 1;

      &:first-of-type {
        margin-bottom: 6px;
      }

      li {
        padding: 8px;
        flex: 1;
        cursor: pointer;
        font-weight: 600;
        font-size: 14px;
        @include noselect();
        &.active {
          background: #ffffff;
          box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.04);
          border-radius: 5px;
          cursor: auto;
        }
      }
    }
  }

  &__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__price {
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 0.015em;
  }

  &-feedback {
    width: 80%;
    margin: 0 auto;
  }

  &-show {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
    button {
      background-color: #ffffff;
      padding: 5px 10px;
      border: 1px solid rgb(218, 207, 207);
      border-radius: 5px;
    }
    button:hover{
      opacity: 0.7;
    }
  }

  &-comments {
    margin-bottom: 5px;

    ul {
      display: flex;
      flex-direction: column;
      gap: 5px;
      li {
        padding: 10px 20px;
        border-color: #fe5f1e;
        border-style: solid;
        border-radius: 5px;
      }
    }
  }

  &-input {
    display: flex;
    input {
      display: block;
      width: 100%;
      font-size: 1em;
      border-radius: 5px 0px 0px 5px;
      border-right-width: 0;
      padding: 15px 10px;
      border-style: solid;
      border-color: #fe5f1e;
      transition: box-shadow 1s ease;
    }
    input:focus {
      outline: none;
      border-right-width: none;
      box-shadow: 0 0 0 0.2rem #fe5f1e;
    }
    input:focus + button {
      box-shadow: 0 0 0 0.2rem #fe5f1e;
    }
    button {
      padding: 10px;
      font-size: 1em;
      font-weight: 400;
      position: relative;
      border-left-width: 0;
      border-radius: 0px 5px 5px 0px;
      border-color: #fe5f1e;
      border-style: solid;
      transition: background-color 1s ease, box-shadow 1s ease;
    }
    button:hover {
      background-color: #fe5f1e;
    }
  }
}
